<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.delectable.mobile"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/DelectableTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- TODO: Implement these once screens become available
        <intent-filter android:label="">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />

            <data
                android:host="region"
                android:scheme="delectable" />
            <data
                android:host="purchase"
                android:scheme="delectable" />
            <data
                android:host="recommendations"
                android:scheme="delectable" />
        </intent-filter> -->

        <activity
            android:name="com.delectable.mobile.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.registration.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme.NoActionBar" />

        <activity
            android:name=".ui.navigation.activity.NavActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.delectable.mobile.ui.camera.activity.WineCaptureActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="com.delectable.mobile.ui.profile.activity.UserProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme.NoActionBar">
            <intent-filter android:label="">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "delectable://captures” -->
                <data
                    android:host="captures"
                    android:scheme="delectable" />
                <!-- Accepts URIs that begin with "delectable://account” -->
                <data
                    android:host="account"
                    android:scheme="delectable" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.profile.activity.FollowersFollowingActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme">
            <intent-filter android:label="">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.capture.activity.CaptureDetailsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme.NoActionBar">
            <intent-filter android:label="">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "delectable://capture” -->
                <data
                    android:host="capture"
                    android:scheme="delectable" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.capture.activity.LikingPeopleActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme" />

        <activity
            android:name="com.delectable.mobile.ui.capture.activity.TaggedPeopleActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme" />

        <activity
            android:name="com.delectable.mobile.ui.capture.activity.CaptureCommentRateActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme.NoActionBar" />

        <activity
            android:name="com.delectable.mobile.ui.wineprofile.activity.WineProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme.NoActionBar">
            <intent-filter android:label="">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "delectable://base_wine” -->
                <data
                    android:host="base_wine"
                    android:scheme="delectable" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.wineprofile.activity.RateCaptureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.delectable.mobile.ui.common.activity.WebViewActivty"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/DelectableTheme" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/action_facebook_login"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <!-- REQUIRED: Kahuna's push requires the receivers and service -->
        <receiver android:name="com.kahuna.sdk.KahunaCoreReceiver" />
        <receiver
            android:name="com.kahuna.sdk.KahunaPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.delectable.mobile" />
            </intent-filter>
        </receiver>

        <service android:name="com.kahuna.sdk.KahunaPushService" />

        <!-- END of Kahuna's push requirements -->

        <receiver android:name="com.delectable.mobile.PushReceiver" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="0fd239634fddfdd1edd0cdf8c5e684325dbd05bf" />

    </application>

    <!-- REQUIRED: Kahuna's push requires the following permissions -->
    <permission
        android:name="com.delectable.mobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.delectable.mobile.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- END of permissions required for Kahuna Push -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- TODO: Handle in code possiblity of user not having a camera on device -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- for reading photos from phones that have them on external storage-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
