<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.delectable.mobile"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DelectableTheme">

        <activity
            android:name="com.delectable.mobile.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.registration.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.navigation.activity.NavActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.delectable.mobile.ui.camera.activity.WineCaptureActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="com.delectable.mobile.ui.profile.activity.UserProfileActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter android:label="">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="account"
                    android:scheme="delectable" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.capture.activity.CaptureDetailsActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter android:label="">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="capture"
                    android:scheme="delectable" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.delectable.mobile.ui.wineprofile.activity.WineProfileActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/action_facebook_login"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- TODO: Handle in code possiblity of user not having a camera on device -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- for reading photos from phones that have them on external storage-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>
